@media all and (max-width: 4.4em) {
}

/* alterar visualização do <nav>
&.nav{display:none}
*/

/* 
nav{
display:flex
flex-flow:colunm
align-items:center
justify-content:center}
*/
.icone {
    svg {
        width: 10rem;
    }

    &.icon-close {
        display: none;
    }
}
