@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

@mixin container-flex($flow: row, $align: stretch, $justify: start, $gap: 0) {
    display: flex;
    flex-flow: $flow;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

@mixin textos($size: 1rem, $weigth: 200, $height: 1, $color: black) {
    font-size: $size;
    font-weight: $weigth;
    line-height: $height;
    color: $color;
}

@mixin responsive($tamanho) {
    @if $tamanho == small {
        @media (max-width: 27.5em) {
            @content;
        }
    } @else if $tamanho == medium {
        @media (max-width: 48em) {
            @content;
        }
    } @else if $tamanho == big {
        @media (max-width: 90em) {
            @content;
        }
    } @else {
        @media (max-width: 110em) {
            @content;
        }
    }
}

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Cabin", sans-serif;
    line-height: 1.4;
}

// Page - Atividades

.secao__pitagoras {
    @include container-flex(column, center, center, 1.6rem);

    #pythagoras {
        max-width: 60rem;
    }

    .answer-container {
        position: relative;
        text-align: center;
        #answer {
            position: absolute;
            top: 5%;
            left: 70%;
            font-weight: bold;
            padding: 2rem;
            border: 0.2rem solid darkslategray;
            border-radius: 0.1rem;
        }
    }

    .left-point {
        width: 0;
        height: 0;
        border-left: 0.5vh solid transparent;
        border-right: 0.5vh solid transparent;
        border-bottom: 0.5vh solid darkslateblue;
        position: absolute;
        top: 90%;
        left: -12%;
        transform: rotate(60deg);
    }

    .inputs-container {
        @include container-flex(column, space-between);
        margin: 0.5em 0;

        label {
            margin: 0.5em 0;
            font-weight: 600;
        }

        button {
            all: unset;
            border-radius: 5px;
            background-color: darkblue;
            color: whitesmoke;
            padding: 0.25em;
        }

        #calculate-hypotenuse {
            margin-top: 2em;
        }
    }

    .hidden-element {
        visibility: hidden;
    }
}

.secao__bhaskara {
    @include container-flex(column, center, center, 1.6rem);

    #bhaskara {
        max-width: 60rem;
    }
    .answerBhaskara {
        position: relative;
        text-align: center;
        #answer {
            position: absolute;
            top: 5%;
            left: 70%;
            font-weight: bold;
            padding: 2rem;
            border: 0.2rem solid darkslategray;
            border-radius: 0.1rem;
        }
    }

    .left-point {
        width: 0;
        height: 0;
        border-left: 0.5vh solid transparent;
        border-right: 0.5vh solid transparent;
        border-bottom: 0.5vh solid darkslateblue;
        position: absolute;
        top: 90%;
        left: -12%;
        transform: rotate(60deg);
    }

    .inputs-container {
        @include container-flex(column, space-between);
        margin: 0.5em 0;

        label {
            margin: 0.5em 0;
            font-weight: 600;
        }

        button {
            all: unset;
            border-radius: 5px;
            background-color: darkblue;
            color: whitesmoke;
            padding: 0.25em;
        }

        #calculate-bhaskara {
            margin-top: 2em;
        }
    }

    .hidden-element {
        visibility: hidden;
    }
}

// Projeto 1 - API FILMES

$cor-escura-1: #101935;
$cor-escura-2: #564787;
$cor-clara-1: #dbcbd8;
$cor-clara-2: #f2fdff;
$cor-clara-3: #9ad4d6;

%botao-lv {
    align-self: center;
    background-color: #303030;
    border-radius: 20rem;
    padding: 1.02rem 2.5rem;
    transition: all ease-in 150ms;
}
%botao-ha {
    cursor: pointer;
    align-self: center;
    background-color: $cor-escura-2;
    transition: all ease-in 150ms;
}

.api__secao__body {
    background-color: $cor-clara-1;
    padding-top: 10rem;

    .api__secao__header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;

        .header__navigate__menu {
            @include container-flex($align: center, $justify: space-around);
            padding: 2rem;
            background-color: $cor-escura-1;

            .header__navigate__logo {
                @include textos(2.3rem, bold, 1.4, $cor-clara-1);
                @include container-flex(
                    $align: center,
                    $justify: center,
                    $gap: 1rem
                );

                img {
                    width: 5rem;
                }
            }
        }

        .header__navigate__search {
            @include container-flex(
                $align: center,
                $justify: center,
                $gap: 1.6rem
            );
            @include textos(1.92rem, 200, 1.4, $cor-clara-1);

            input {
                border-radius: 0.6rem;
                height: 3rem;
                padding: 0.5rem;
                font-size: 1.6rem;
            }
            #movie-name {
                width: 30rem;
            }
            #movie-year {
                width: 7rem;
            }
            button {
                border-radius: 0.6rem;
                padding: 0.5rem;
                height: 3.5rem;
                width: 3.5rem;
                img {
                    width: 100%;
                }

                &:hover,
                &:active {
                    @extend %botao-ha;
                }
            }
        }
    }

    .api__secao__main {
        padding: 2rem;

        .main__header__title {
            @include container-flex(column, center, center, 1.6rem);
            @include textos(1.92rem, 400, 1.4, $cor-escura-2);

            .main__header__lista {
                @include container-flex(row, center, center, 1.6rem);
                flex-wrap: wrap;
                overflow-y: scroll hidden;
                width: 100%;
                height: 100%;
                max-width: 180rem;
                max-height: 70rem;

                article {
                    @include container-flex(column, center, center, 1.6rem);

                    #movie-cover {
                        border-radius: 0.6rem;
                        height: 30rem;
                    }

                    .btn-remove-list {
                        @include container-flex(row, center, center, 1.6rem);
                        border-radius: 0.6rem;
                        padding: 0.5rem 2rem;

                        img {
                            height: 2rem;
                            width: 2rem;
                        }

                        &:hover,
                        &:active {
                            @extend %botao-ha;
                        }
                    }
                }
            }
        }

        &--modal-overlay {
            @include container-flex(column, center, center, 1.6rem);
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: all 0.3s ease;

            .modal-background {
                position: absolute;
                background-color: $cor-escura-2;
                width: 100%;
                height: 100%;
                z-index: 0;
                opacity: 0.4;
            }
        }
        #modal-overlay.open {
            opacity: 1;
            pointer-events: all;
            visibility: visible;
        }

        &--modal-container {
            z-index: 1;
            @include container-flex(column, center, center, 1.6rem);
            background-color: $cor-escura-2;
            padding: 2rem 10rem;
            border-radius: 1.8rem;
            max-width: 100rem;

            .modal-container-body {
                @include container-flex(row, start, center, 1.6rem);
                align-items: flex-start;

                .movie-title {
                    @include textos(2.3rem, 700, 1.4, $cor-escura-1);
                    width: 35rem;
                    overflow-wrap: break-word;
                    padding: 1rem;
                }

                .movie-poster {
                    width: 35rem;
                    height: 50rem;
                    overflow: hidden;
                    border-radius: 1rem;

                    #movie-poster {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                    }
                }

                .movie-infos {
                    @include container-flex(column, start, center, 3rem);
                    padding: 25rem 0 0 0;
                    flex: 1;
                    max-width: 40rem;

                    .movie-description {
                        @include textos(1.92rem, 900, 1.4, $cor-clara-2);
                        text-align: justify;
                    }
                    .movie-cast,
                    .movie-genre {
                        @include textos(1.6rem, 200, 1.4, $cor-clara-2);
                    }
                    .movie-cast-box,
                    .movie-genre-box {
                        @include container-flex(column, start, center, 0.2rem);
                        @include textos(1.92rem, 800, 1.4, $cor-escura-1);
                    }
                }
            }
            #btn-add-list {
                @include container-flex(row, center, center, 1.6rem);
                border-radius: 0.6rem;
                padding: 0.5rem 2rem;

                img {
                    height: 3rem;
                    width: 3rem;
                }

                &:hover,
                &:active {
                    @extend %botao-ha;
                }
            }
        }
    }
}

// Projeto 2 - StopWatch

$cor-clara-lavender: #d9dbf1;
$cor-clara-pale-slate: #d0cdd7;
$cor-clara-paleslate: #acb0bd;
$light-slate-grey: #778991;
$dark-slate-grey: #416165;
$dark-teal-1: #264d57;
$dark-teal-2: #0b3948;

%button-lv {
    align-self: center;
    background-color: $dark-teal-2;
    transition: all ease-in 150ms;
}
%button-ha {
    cursor: pointer;
    align-self: center;
    background-color: $dark-teal-2;
    transition: all ease-in 150ms;
}

.secao__main__body {
    @include container-flex(column, center, center);
    background-color: $dark-slate-grey;

    .secao__header__container {
        @include container-flex(column, center, center);
    }

    .secao__main__container {
        @include container-flex(column, center, center, 1.6rem);

        .main__container__box {
            border-radius: 2rem;
            border: $light-slate-grey solid 0.1rem;
            padding: 2rem 5rem;

            h2 {
                font-size: xx-large;
                text-align: center;
                padding: 1rem 3rem;
            }

            .container__stopwatch {
                @include container-flex(column, center, center);
                padding: 2rem;

                #stopwatch {
                    font-size: 2rem;
                }
            }

            .container__buttons {
                @include container-flex(row, center, center, 1.6rem);
                padding: 1.6rem;

                #btn-Start-Stop-Watch,
                #btn-Stop-Stop-Watch,
                #btn-Reset-Stop-Watch {
                    border: $dark-teal-1 solid 0.1rem;
                    border-radius: 1rem;
                    background-color: $dark-slate-grey;
                    padding: 1.02rem 2.5rem;

                    &:hover,
                    &:active {
                        @extend %button-ha;
                    }
                    &:link,
                    &:visited {
                        @extend %button-lv;
                    }
                }
                .hidden {
                    visibility: hidden;
                }
            }
        }
    }
}

// Projeto 3 - e-Comerce

$cor-preta-soft: #050505;
$darkest-teal-deep: #12282b;
$dark-teal-deep: #105058;
$pacific-cyan: #1b9aaa;
$bone-light: #dddbcb;
$eggshell-soft: #e9e6d7;
$old-lace: #f5f1e3;
$floral-white: #faf8f1;
$white-clean: #ffffff;

%botao-lv-ecommerce {
    align-self: center;
    background-color: #303030;
    border-radius: 20rem;
    padding: 1.02rem 2.5rem;
    transition: all ease-in 150ms;
}

%botao-ha-ecommerce {
    cursor: pointer;
    align-self: center;
    background-color: $pacific-cyan;
    transition: all ease-in 150ms;
}

.secao__body__container {
    background-color: $eggshell-soft;
    padding-top: 10rem;

    .secao__header__superior {
        background-color: $darkest-teal-deep;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;

        .header__menu__superior {
            @include container-flex(row, center, space-between);
            height: 10rem;
            padding: 0 3rem;

            .logo img {
                height: 10rem;
                width: auto;
            }

            .navigate_buttons {
                @include container-flex(row, center, center, 4rem);

                button {
                    all: unset;
                    width: 5rem;
                    height: 5rem;
                    padding: 1.6rem;
                    border-radius: 2rem;
                    color: $floral-white;
                    font-size: 1.33rem;
                    display: flex;
                    gap: 1rem;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 5rem;
                        height: 5rem;
                    }

                    &:hover,
                    &:active {
                        @extend %botao-ha-ecommerce;
                    }
                }
            }
        }
    }
}
