@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

@mixin container-flex($flow, $align, $justify, $gap) {
    display: flex;
    flex-flow: $flow;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

// para importar @include flex-col
@mixin textos($size, $weigth, $height, $color) {
    font-size: $size;
    font-weight: $weigth;
    line-height: $height;
    color: $color;
}

@mixin responsive($tamanho) {
    @if $tamanho == small {
        @media (max-width: 27.5em) {
            @content;
        }
    } @else if $tamanho == medium {
        @media (max-width: 48em) {
            @content;
        }
    } @else if $tamanho == big {
        @media (max-width: 90em) {
            @content;
        }
    } @else {
        @media (max-width: 110em) {
            @content;
        }
    }
}

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Cabin", sans-serif;
    line-height: 1.4;
}
